@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
input,
textarea,
button {
    font-family: "Inter", sans-serif;
}

li {
    list-style: none;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    line-height: 190%;
    background-color: var(--colour-black-one);
    color: var(--colour-text-white);
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

img,
picture {
    max-width: 100%;
    display: block;
}

:root{
    --primary-color: #f72585;
    --secondary-color: #ff4d6d;
    --background-color: #f8f9fa;
    --navigation-container-shadow: #6c757d;
    --navigation-color: #212529;
    --desktop-searchbar-bg: #e9ecef; 
    --desktop-searchbar-border: #f7f7f7;
    --card-shadow: #adb5bd;
    --form-bg-color: #ffffff;
    --form-input-border-color: #ced4da;
    --login-signup-page: #f3ebeb;
    --login-btn-border:#fb6376;
    --login-btn-bg-color-hover: #e63961;
    --footer-bg-color: #023047;
    font-size: 62.5%;
}


body{
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    margin: 0;   
}

/* desktop-nav */
.link{
    padding: 0;
    margin-right: 2.5rem;
    margin-bottom: 0;
    text-decoration: none;
}
.link:hover{
    color: var(--primary-color);
}
.list-non-bullet{
    list-style: none; 
}
.list-item{
    padding: 1.5rem;   
}
.list-item:hover{
    font-weight: 600;
    color: var(--primary-color);
}
.navigation-container{
    background-color: var(--background-color);
    box-shadow: 10px 10px 10px -12px var(--navigation-container-shadow);
    color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}
.navigation-container .nav-brand{
    font-weight: bold;
    font-size: 2.5rem;
    text-align: left;
}
.nav-brand{
    text-align: left;
    margin: 1rem auto 1rem 4.8rem;
}
.navigation-container .link{
    background-color: var(--background-color);
    color: var(--navigation-color);
    font-size: 1.8rem;
}
.link-active{
    color: var(--primary-color);
}
.navigation-container .nav-pills{
    text-align: right;
}
ul{
    padding-inline-start: 0px;
    list-style: none;
    margin-bottom: 0;
}

/* desktop-query */
.right-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.desktop-query{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    margin: 1rem auto 1rem 0.5rem;
}
.desktop-searchbar{
    background-color: var(--desktop-searchbar-bg);
    border: 0px solid var(--desktop-searchbar-border);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 1.5rem;
    margin: 5px 15px 5px 0;
    padding: 5px;
    width: 20rem;
    line-height:1;
}

/* action-btn */
.desktop-action-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    margin: 1rem auto 1rem 0.5rem;
}
.single-action-btn, .profile{
    position: relative;
}
.right-nav-img{
    height: 3rem;
    width: 3rem;
    margin-right: 2.5rem;
}
.right-nav-img:hover{
    fill: var(--primary-color);
}
.img-search{
    background-color: var(--desktop-searchbar-bg);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 2.73rem;
    width: 3rem;
    margin-right:0;
    margin-bottom: 0;
    padding:5px;
}
.on-btn{
    color: var(--primary-color);
    fill: var(--primary-color);
}

/* wishlist */
.single-card-btn{
    position: relative;
}
.dismiss-btn{
    position: absolute;
    top: -22.8rem;
    left: 20rem;
    right: 1.3rem;
}

/* cart */
.img-horizontal{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.qty-product{
    color: var(--primary-color);
    width: 100%;
    margin:3px;
}
.qty-number{
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1.5rem;
    height: 40%;
    width:20%;
    text-align: center;
    /* margin-bottom: 15px; */
    /* padding: 5px;  */
}
.qty-decrease, .qty-increase{
    background-color: var(--primary-color);
    border-radius: 3px;
    color: var(--background-color);
    font-size: 1.8rem;
    height:40%;
    width: 20%;
}
.qty-decrease:hover, .qty-increase:hover{
    background-color: var(--login-btn-bg-color-hover);
}

/* login-signup */
.login-signup-page{
    background-color: var(--login-signup-page);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.img-form{
    height:50rem;
    width: 50rem;
    object-fit: cover;
}
.login-signup-form{
    background-color: var(--form-bg-color);
    border-radius: 10px;  
    width: 40rem;
    text-align: center;
}
.form-heading{
    color: var(--navigation-color);
    font-size: 3rem;
}

/* footer-section */
.footer{
    background-color: var(--footer-bg-color);
    color: var(--background-color);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16rem;
    padding: 12rem;
    text-align: center;
}
.footer-title{
    font-weight: 400;
    margin-bottom: 2rem;
}
.footer-contact{
    font-weight: 400;
}
.footer-item:hover{
    color: var(--primary-color);
}
.footer-svg{
    fill: var(--background-color);
    color: var(--background-color);
}
.footer-copyright{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}