@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
input,
textarea,
button {
    font-family: "Inter", sans-serif;
}

li {
    list-style: none;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    line-height: 190%;
    background-color: var(--colour-black-one);
    color: var(--colour-text-white);
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

img,
picture {
    max-width: 100%;
    display: block;
}

:root{
    --primary-color: #f72585;
    --secondary-color: #ff4d6d;
    --login-btn-bg-color-hover: #e63961;
    font-size: 62.5%;
}


body{
    background-color: #f8f9fa;
    background-color: #f0ecec;
    font-family: 'Roboto', sans-serif;
    margin:0;   
}

/* desktop-nav */
.link{
    padding:0;
    margin-right:2.5rem;
    margin-bottom: 0;
    text-decoration:none;
}
.link:hover{
    color: var(--primary-color);
}
.list-non-bullet{
    list-style:none; 
}
.list-item{
    /* display:inline; */
    padding:1.5rem;   
}
.list-item:hover{
    font-weight:600;
    color: var(--primary-color);
}
.navigation-container{
    background-color: var(--primary-color);
    background-color: #f7f7f7;
    background-color: #f8f9fa;
    box-shadow: 10px 10px 10px -12px #6c757d;

    color: var(--primary-color);
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:0;
}
.navigation-container .nav-brand{
    font-weight:bold;
    font-size: 2.5rem;
    text-align:left;
}
.nav-brand{
    text-align:left;
    margin:1rem auto 1rem 4.8rem;
}
.navigation-container .link{
    background-color: #f8f9fa;
    color:black;
    font-size:1.8rem;
}
.link-active{
    color: var(--primary-color);
}
.navigation-container .nav-pills{
    text-align:right;
}
ul{
    padding-inline-start: 0px;
    list-style:none;
    margin-bottom:0;
}

/* desktop-query */
.right-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:0;
}
.desktop-query{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    margin: 1rem auto 1rem 0.5rem;
}
.desktop-searchbar{
    background-color: #e9ecef;
    border:0px solid #f7f7f7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 1.5rem;
    margin: 5px 15px 5px 5px;
    margin: 5px 15px 5px 0;
    padding:5px;
    width:20rem;
    line-height:1;
}

/* action-btn */
.desktop-action-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    margin: 1rem auto 1rem 0.5rem;
}
.right-nav-img{
    height: 3rem;
    width: 3rem;
    margin-right: 2.5rem;
}
.img-search{
    background-color: #e9ecef;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 2.73rem;
    width: 3rem;
    margin-right:0;
    margin-bottom: 0;
    padding:5px 5px 5px 5px;
}

/* login-signup */
.login-signup-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.img-form{
    height:50rem;
    width: 50rem;
    object-fit: cover;
}
.login-signup-form{
    background-color: #ffffff;
    border-radius: 10px;  
    width: 40rem;
    text-align: center;
}
.form-heading{
    color: black;
    font-size: 3rem;
}

/* footer-section */
.footer{
    background-color: #023047;
    color:#f8f9fa;
    font-size: 2rem;
    height: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-title{
    font-weight: 400;
    margin-bottom: 2rem;
}
.footer-item:hover{
    color:#f72585;
}