
.login-img{
    margin-left: 0;
    transform: rotate(180deg);
}
.login-form{
    height: 34rem;
    margin-top: 9rem ;
    margin-left: 8rem;
}
.form-heading{
    margin-top: 5rem;
}
.login-email, .login-password{
    border: 1.5px solid #ced4da;
    border-radius: 6px;
    font-size: 1.2rem;
    height: 4rem;
    width: 28rem;
    padding: 8px;
}
.login-btn{
    background-color: var(--primary-color);
    border: 2px solid #fb6376;
    border-radius: 5px;
    color: #f7f7f7;
    font-size: 1.6rem;
    margin:2rem;
    padding: 10px;
    width: 9rem;
}
.login-btn:hover{
    background-color: var(--login-btn-bg-color-hover);
    border: 2px solid #e63961;
    cursor: pointer;
}
.login-para{
    font-size: 1.7rem;
}
.login-link{
    color: var(--secondary-color);
    text-decoration: none;
}
.login-link:hover{
    color: #e63961;
}
.right-nav-img:hover{
    color:var(--primary-color);
    cursor: pointer;
}