/* wishlist */
.wishlist-products{
    display: flex;
    flex-direction: row;
    gap: 7rem;
    margin-left: 4rem;

}
.wishlist-title, .wishlisted-total{
    color: var(--primary-color);
    font-size: 3rem;
    margin: 4rem;
}
.wishlisted-total{
    color: var(--navigation-color);
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* badge-on wishlist */
.btn-icon-wishlist, .btn-icon-cart{
    background-color: var(--primary-color);
    border: solid var(--primary-color);
    color: var(--background-color);
    font-size: 1.5rem;
    top:7px;
    height: 2rem;
    width: 2rem;
}
.btn-icon-wishlist{
    left: 117.3rem;
}
.btn-icon-cart{
    left:122.5rem;
}

/* checkout-button */
.btn-checkout{
    background-color: var(--primary-color);
    color: var(--background-color);
    font-size: 2rem;
    width: 20rem;
}
.btn-checkout:hover{
    background-color: var(--secondary-color);
    color: var(--background-color);
}
