<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google file -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- css file -->
    <link href="../../styles.css" rel="stylesheet">
    <title>Falcon Store | Signup</title>
</head>
<body>
    <nav class="navigation-container">
        <div class="nav-brand">Falcon Store</div>
            <li class="list-item list-non-bullet">
                <a class="link link-active" href="/index.html">HOME</a>
            </li>
            <li class="list-item list-non-bullet">
                <a class="link" href="">PRODUCTS</a>
            </li>
          <div class="right-nav">
            <div class="desktop-query">
                <img class="right-nav-img img-search" src="../assets/svg/search_black_24dp.svg">
                <input class="desktop-searchbar" type="text" placeholder="Search for products">
            </div>
            <div class="desktop-action-btn">
                <img class="right-nav-img" src="../assets/svg/person_outline_black_24dp.svg">
                <img class="right-nav-img" src="../assets/svg/favorite_border_black_24dp.svg">
                <img class="right-nav-img" src="../assets/svg/shopping_cart_black_24dp.svg">   
            </div>
          </div>
    </nav>

    <section class="login-signup-page">
        <div class="login-signup-form signup-form">
            <h1 class="form-heading">SIGN UP</h1>
            <form>
                <label for="fname"></label><br>
                <input class="signup-fname" type="text" id="fname" name="fname" placeholder="First name">

                <label for="lname"></label>
                <input class="signup-lname" type="text" id="fname" name="lname" placeholder="Last name">

                <label for="email"></label>
                <input class="signup-email" type="text" id="email" name="email" placeholder="Email">

                <label for="password"></label>
                <input class="signup-password" type="password" id="password" name="password" placeholder="Password">
                <!-- <img class="visibility-eye"src="../assets/svg/visibility_off_black_24dp.svg"> -->
                <br>
                <label for="password"></label>
                <input class="signup-password" type="password" id="confirm-password" name="password" placeholder="Confirm Password">
                <button class="signup-btn">Sign Up</button>
                <p class="login-para">Already a user? 
                    <a class="login-link" href="../login/login.html">Log into your account </a>
                </p>
            </form>
        </div>
        <div class="signup-img-section">
            <img class="img-form signup-img"src="../assets/images/Spiderman S10 wallpaper by Tirok - c893 - Free on ZEDGE™.jpg">
        </div>
    </section>


</body>
</html>